###########################
# ignore build folders

build
build/
*/build
*/build/

##################################
# ignore tmp download folders

tmp
tmp/
*/tmp
*/tmp/

###############
# ignore dbs

*.db


